biopython==1.72
certifi==2018.8.24
colorama==0.4.1
Cython==0.29.7
decorator==4.4.0
mkl-fft==1.0.6
mkl-random==1.0.1
numpy==1.15.2
pandas==0.24.2
psutil==5.6.1
pyfiglet==0.8.post1
pyte==0.8.0
python-dateutil==2.8.0
pytz==2019.1
six==1.12.0
thefuck==3.28
wcwidth==0.1.7
